/* inline-block */


/*
    1.没有开启定位的元素不可以使用z-index
    2.父元素的层级再高也不会盖住子元素
*/


/*
    相对定位：
        相对自己的初始位置定位，
        原有空间不释放
        相对定位不会改变元素的性质(块(行)元素仍是块(行)元素)
        position:relative;
        left:200px;
        top:30px;
*/


/*
    绝对定位:
        相对于最近已定位的祖先元素
        如果没有最近的定位的父元素 会相对于body
        原有空间释放
        绝对定位会改变元素的性质，行内元素会变成块级元素
*/


/*
    固定定位:
        相对于浏览器窗口偏移
        原有空间释放
        会转化成行级块
*/