<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <div class="div1" v-for="(item,index) in arr" :key="index">
            <p>{{item}}</p>
            <p>{{item}}</p>
        </div>
    </div>
    <template class="div1" v-for="(item,index) in arr" :key="index">
        <p>{{item}}</p>
        <p>{{item}}</p>
    </template>
    <script src="vue.js"></script>
    <script>
        var vm = new Vue({
            el:'#app',
            data:{
                arr:[1,2,3]
            },
            methods:{

            }
        })
    </script>
</body>
</html>